<!-- Page Wrapper -->
<div id="wrapper">


    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Kategoriler</h1>
                @*< p class="mb-4">
                   
                </p> *@

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Kategori Paneli</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Satıcı Id</th>
                                        <th>Kategori Id</th>
                                        <th>DD Adı</th>
                                        <th>Ürünü</th>
                                        <th>Detay</th>
                                        <th>Stok Miktarı</th>
                                        <th>Üretim Tarihi</th>
                                        <th>Aktiflik</th>
                                        <th>Düzenle</th>
                                        <th>Sil</th>


                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in ViewBag.Products)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.SellerId</td>
                                            <td>@item.CategoryId</td>
                                            <td>@item.DDName</td>
                                            <td>@item.Price</td>
                                            <td>
                                                @if (string.IsNullOrWhiteSpace(item.Details))
                                                {
                                                    <p>-</p>
                                                }
                                                else
                                                {
                                                    @item.Details

                                                }


                                            </td>
                                            <td>@item.StockAmount</td>
                                            <td>@item.CreatedAt</td>
                                            <td>
                                                @if (item.Enabled == true)
                                                {
                                            
                                                    <form method="post" asp-action="Pasive" asp-controller="Product" asp-route-id="@item.Id">
                                                
                                                        <button type="submit" class="btn btn-danger btn-sm">
                                                            <i class="fas fa-check"></i> Pasif Hale Getir
                                                        </button>

                                                    </form>


                                                }
                                                else
                                                {
                                                    <form method="post" asp-action="Active" asp-controller="Product" asp-route-id="@item.Id">
                                                
                                                        <button type="submit" class="btn btn-success btn-sm">
                                                            <i class="fas fa-check"></i> Aktif Hale Getir
                                                        </button>

                                                    </form>
                                                }
                                            
                                            
                                            
                                            </td>
                                            <td><a class="btn btn-info" asp-route-id="@item.Id" asp-action="Edit" asp-controller="Product">Düzenle</a></td>
                                            <td><a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete" asp-controller="Product">Sil</a></td>




                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Satıcı Id</th>
                                        <th>Kategori Id</th>
                                        <th>DD Adı</th>
                                        <th>Ürünü</th>
                                        <th>Detay</th>
                                        <th>Stok Miktarı</th>
                                        <th>Üretim Tarihi</th>
                                        <th>Aktiflik</th>
                                        <th>Düzenle</th>
                                        <th>Sil</th>


                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
